<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210648783864-em86g8psnjb9sqt6mcbtoucjtsmkp2vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210648783864-em86g8psnjb9sqt6mcbtoucjtsmkp2vk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210648783864-26l97l9i5jb3hn37dvuk5ib2qd1h1p0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuFB-L1hXC8wLBm3aLXGD5KVPKGXtmAPs</string>
	<key>GCM_SENDER_ID</key>
	<string>210648783864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ptpn.digimagz</string>
	<key>PROJECT_ID</key>
	<string>digimagz-fccc4</string>
	<key>STORAGE_BUCKET</key>
	<string>digimagz-fccc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210648783864:ios:7046b90d6978ea74b2d40d</string>
	<key>DATABASE_URL</key>
	<string>https://digimagz-fccc4.firebaseio.com</string>
</dict>
</plist>