<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454702289920-4dk0cn5l4ca33np4q0pi8n0dg3gdh70b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454702289920-4dk0cn5l4ca33np4q0pi8n0dg3gdh70b</string>
	<key>API_KEY</key>
	<string>AIzaSyBhMv2v0gC0_0d6-yThBE7WIeufFI_22dU</string>
	<key>GCM_SENDER_ID</key>
	<string>454702289920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digimagz</string>
	<key>PROJECT_ID</key>
	<string>com-project-digimagz</string>
	<key>STORAGE_BUCKET</key>
	<string>com-project-digimagz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454702289920:ios:9c3360a8eaedba176234e5</string>
	<key>DATABASE_URL</key>
	<string>https://com-project-digimagz.firebaseio.com</string>
</dict>
</plist>